<app-heading [activeBack]="false" title="Mon potager"></app-heading>
<div class="px-8 mt-[6.875rem] pb-36">
  <div class="section">
    <h4>Missions du jour</h4>
    <div class="p-6 bg-success rounded-md">
      <div class="grid grid-cols-3 gap-4">
        <a
          [routerLink]="[plant.id]"
          *ngFor="let plant of wateringPlants"
          class="bg-white flex flex-col items-center justify-center rounded-md h-24"
        >
          <app-plant-thumbnail [plant]="plant"></app-plant-thumbnail>
        </a>
      </div>
      <button class="btn btn-large bg-[#125944] text-white w-full mt-6 border-0">
        J'ai arrosé mes plantes
      </button>
    </div>
  </div>

  <div class="section">
    <h4>Mes prochaines récoltes</h4>
    <div></div>
  </div>

  <!-- <div>
    <h4>Astuce du jour</h4>
    <div></div>
  </div> -->

  <div class="section">
    <h4>Mes plantes</h4>
    <div class="w-full flex flex-row overflow-x-scroll gap-4">
      <a
        [routerLink]="[plant.id]"
        *ngFor="let plant of allMyPlants"
        class="bg-base-200 flex flex-col items-center justify-center rounded-md h-24"
      >
        <app-plant-thumbnail
          class="w-28 p-2"
          [plant]="plant"
        ></app-plant-thumbnail>
      </a>
    </div>
  </div>

  <div class="section">
    <h4>Mon carnet de bord</h4>
    <div
      class="mb-4 px-4 py-6 rounded-md shadow-md bg-white flex flex-row justify-center items-center gap-2"
    >
      <img
        class="w-20"
        src="../../../assets/carnet.png"
        alt="illustration dame qui lit"
      />
      <div>
        <h5>Besoin d'une vue d'ensemble ?</h5>
        <p>
          Rends-toi sur la page mon carnet de bord, pour suivre tes activités
        </p>
      </div>
      <a
        class="btn btn-square btn-large bg-[#212E50] text-white border-0 btn-neutral rounded-full"
        routerLink="/log-book"
      >
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
  </div>
</div>
