<app-heading [activeBack]=false title="Encyclopédie des plantes"></app-heading>
<div class="px-8 mt-[8rem] pb-36 ">

    <div class="bg-[#212E50] p-4 rounded-md">
        <h4 class="mb-4 text-white">Que planter ce mois-ci ?</h4>
        <div class="grid grid-cols-3 gap-4">
            <a [routerLink]="[plant.id]" *ngFor="let plant of plantsOfMonth"
                class="bg-base-100 flex flex-col items-center justify-center rounded-md h-24">
                <app-plant-thumbnail [plant]="plant"></app-plant-thumbnail>
            </a>
        </div>
    </div>

    <form [formGroup]="searchForm" class="my-4">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search Plant</label>
        <div class="flex justify-between bg-white p-4 input input-bordered align-middle items-center">
            <input formControlName="plant" type="search" id="default-search" class="flex align-center w-full text-sm"
                placeholder="Rechercher une plante" required />
            <button (click)="search()"><mat-icon>search</mat-icon></button>
        </div>
    </form>

    <!-- Categories -->
    <div *ngIf="!resultSearch">
        <div *ngFor="let categ of categs" class="mb-8">
            <h4 class="mb-4">{{categ.name}}</h4>
            <div class="grid grid-cols-3 gap-4">
                <a [routerLink]="[plant.id]" *ngFor="let plant of categ.plants"
                    class="bg-base-200 flex flex-col items-center justify-center rounded-md h-24">
                    <app-plant-thumbnail [plant]="plant"></app-plant-thumbnail>
                </a>
            </div>
        </div>
    </div>

    <!-- Search result -->
    <div *ngIf="resultSearch">
        <div class="grid grid-cols-3 gap-4">
            <a [routerLink]="[result.id]" *ngFor="let result of resultSearch"
            class="bg-base-200 flex flex-col items-center justify-center rounded-md h-24">
            <app-plant-thumbnail [plant]="result"></app-plant-thumbnail>
        </a>
        </div>
        <div class="w-full flex justify-center" (click)="cancelSearch()">
            <button class="flex align-middle text-primary mt-4"><mat-icon class="mr-4">close</mat-icon> Annuler ma recherche</button>
        </div>
    </div>

</div>