<app-heading [activeBack]=false title="Mon carnet de bord"></app-heading>
<div class="px-8 mt-[6.875rem] pb-36">
    <mwl-calendar-month-view *ngIf="reloadCalendar" [viewDate]="dateVariable" [events]="events" (dayClicked)="handleDayClick($event)"></mwl-calendar-month-view>
</div>
<dialog #dialogDay class="w-4/5 p-4 shadow-lg rounded-lg bg-white">
  <div class="flex flex-col justify-between h-full">
      <div class="flex justify-end">
          <button (click)="dialogDay.close()">
              <mat-icon>close</mat-icon>
          </button>
      </div>
      <!-- Modal content -->
            <h2>Details de l'événement</h2>
            <p>Date: {{modalDay}}</p>
  </div>
</dialog>
