// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Thin') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('//assets/Poppins/Poppins-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }

    html, body { height: 100%; }
    body { 
      @apply m-0 bg-base-100 text-neutral;
      font-family: 'Poppins', sans-serif;

  }

    //SCALE
    h2 {
      @apply font-bold text-3xl ;
    }
    h3 {
      @apply font-bold text-2xl ;
    }
    h4 {
      @apply font-semibold text-lg;
    }
    h5{
      @apply font-semibold text-base;
    }
    p, li{
      @apply text-base;
    }
    .link{
      @apply text-base text-primary underline;
    }

    //NAVBAR
    .nav-mob{
        @apply w-full fixed bottom-0 px-6 py-4 bg-white flex justify-between items-center h-24 rounded-t-3xl;
        box-shadow: 0px -15px 67px rgba(0, 0, 0, 0.1);
      }
      
      .nav-link{ 
        @apply  flex flex-col justify-center items-center;  
        &.active{
          @apply text-primary;
        }
      }

      .nav-list{ 
        @apply  flex bg-base-200 p-2 rounded;  
    
        .onglet {
            @apply flex justify-center p-2  transition-all rounded w-1/2;
    
            &.active{
                @apply bg-white text-primary;
            }
        }
    }
      
      //CARDS
      .card-peels{
        @apply bg-white shadow; 

        &.cards-small{
          @apply rounded-lg p-2;
        }

        &.cards-large{
          @apply rounded-xl p-4;
        }
      }
      .card-peels-colored{
        @apply bg-primary shadow text-primary-content; 

        &.cards-small{
          @apply rounded-lg p-2;
        }

        &.cards-large{
          @apply rounded-xl p-4;
        }
      }